@import '~@angular/material/theming';

@mixin navbar-theme($theme) {
    $primary: map-get($theme,primary);
    $accent: map-get($theme,accent);
    $warn: map-get($theme,warn);

    dashboard-navbar {
        mat-toolbar.dashboard-toolbar {
            background-color: mat-color($primary,200);
            border-bottom: 1px solid mat-color($primary,lighter);
            box-shadow: 0px 0px 4px mat-color($primary,darker);
        }
        .route-title {
            display: inline-block;
            margin-left: 20px;
            i {
                color: mat-color($accent);
            }
        }
    }
}
