:host {
    display: relative;
    mat-drawer-container {
        min-height: 900px;
    }
}
.main-drawer-content {
    padding: 0px 2px;
}
.search-running-shade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.15);
}

.search-controls {
    .basic-controls-line-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-search {
            flex-grow: 1;
        }
        .results-list-type,
        sctype-select,
        share,
        reset,
        .toggle-advanced-search,
        .toggle-summary-stats {
            margin-left: 10px;
        }
    }
}

mat-form-field {
    display: block;
}
.advanced-search-controls {
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    min-width: 550px;
}
mat-drawer-container,
mat-drawer-content {
    background-color: transparent;
}
.close-summary-stats,
.close-advanced-search {
    float: right;
}
.stats-drawer {
    min-width: 100%;
}
