// http://mcg.mbitson.com/#!?primary=%23398396&accent=%23db8739&warn=%23a94442&themename=sc
$md-primary: (
    50 : #e7f0f2,
    100 : #c4dae0,
    200 : #9cc1cb,
    300 : #74a8b6,
    400 : #5796a6,
    500 : #398396,
    600 : #337b8e,
    700 : #2c7083,
    800 : #246679,
    900 : #175368,
    A100 : #a1e5ff,
    A200 : #6ed7ff,
    A400 : #3bc9ff,
    A700 : #22c2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #fbf1e7,
    100 : #f4dbc4,
    200 : #edc39c,
    300 : #e6ab74,
    400 : #e09957,
    500 : #db8739,
    600 : #d77f33,
    700 : #d2742c,
    800 : #cd6a24,
    900 : #c45717,
    A100 : #fff9f6,
    A200 : #ffd7c3,
    A400 : #ffb690,
    A700 : #ffa577,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warn: (
    50 : #f5e9e8,
    100 : #e5c7c6,
    200 : #d4a2a1,
    300 : #c37c7b,
    400 : #b6605e,
    500 : #a94442,
    600 : #a23e3c,
    700 : #983533,
    800 : #8f2d2b,
    900 : #7e1f1d,
    A100 : #ffbbba,
    A200 : #ff8887,
    A400 : #ff5654,
    A700 : #ff3d3b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);
