/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/theming';
// make sure this happens only once
@include mat-core();

@import '_material-palette';
$primary-palette: mat-palette($md-primary);
$accent-palette: mat-palette($md-accent);
$warn-palette: mat-palette($md-warn);

//$app-theme: mat-dark-theme($primary-palette, $accent-palette, $warn-palette);
$app-theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);

// import any theme mixins from components here
@import 'src/app/search/misc-theme.scss';

@mixin apply-app-theme($theme) {
    /*
    $primary: map-get($theme,primary);
    $accent: map-get($theme,accent);
    $warn: map-get($theme,warn);
    any global styling here
    */

    // call component mixins here
    @include misc-theme($theme);
}

@include angular-material-theme($app-theme);
@include apply-app-theme($app-theme);

mark {
    /* not enough lineheight in a mat-line
    border-radius: 4px;
    background: #ff0;
    box-shadow: 1px 2px 4px #333;
    border: 1px solid #666;
    */
}

// trying to save some space
// this adds a little hiccup to the open/close animation but not super noticeable
.mat-expansion-panel-header {
    height: 44px !important;
}

// putting here for now to avoid the need for /deep/
item-list,
item-map {
    .sort-direction-toggle {
        box-shadow: none;
        &.mat-button-toggle-checked {
            background-color: transparent;
        }
        .mat-button-toggle-focus-overlay {
            display: none;
        }
        .mat-button-toggle-label-content {
            padding: 0px;
            font-size: .75em;
        }
    }
    .sort-controls {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .sort-controls .sort-column {
        flex-grow: 1;
    }
    .sort-controls .sort-column /deep/ .mat-form-field-underline {
        /* no idea why, this is ootb 1.25em and for this ONE control that causes the underling to not show up. */
        bottom: 1.26em;
    }
    .sort-controls .sort-direction-toggle {
        margin-left: 15px;
    }
}
.agm-info-window-content {
    mat-card {
        box-shadow: none !important;
        padding: 2px;
        margin: 0px;
    }
}

// when using font-awesome icons in mat-icon it appears they need to be sized appropriately
// the margins are because font-awesome icons aren't as nicely centered in fab buttons.
.mat-icon-button mat-icon.fa,
.mat-fab mat-icon.fa {
    font-size: 2em;
    margin-top: -1px;
}
.mat-mini-fab mat-icon.fa {
    font-size: 1.35em;
    margin-top: 4px;
}
.mat-button-toggle mat-icon.fa {
    font-size: 1.75em;
    margin-top: 5px;
}
/* this feels like a workaround but it would be nice to have both material
   icons and font-awesome icons work without having to specify font-awesome as
   the family in code for every fa icon used.  may want to revisit this
   "solution" but without it the stepper's pencil icon doesn't work
   and other material icons cannot be used (because app.module sets
   the default icon font family to font-awesome).
 */
mat-icon {
    font-family: 'Material Icons' !important;
}
// the base class name is fa and all the sub-classes start with fa-
mat-icon[class*="fa-"] {
    font-family: 'FontAwesome' !important;
}
/* no idea why, this is ootb 1.25em and for a few controls that causes the
   underline to not show up.
*/
.mat-form-field-underline {
    bottom: 1.27em;
}

.item-title a {
    // TODO theme this
    color: rgba(0,0,0,.87);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

summary-statistics {
    display: block;
    min-height: 200px;
    position: relative;
    .stats-running-shade {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,0.15);
    }

    .mat-tab-label {
        height: 34px; // normally 48px;
        font-weight: bold;
        &.mat-tab-label-active {
            background-color: #eee;
        }
    }

    .sum-line {
        margin:5px;
        &.inline > div {
            display: inline-block;
            padding: 5px;
        }
    }
    .mat-subheading-1,
    .mat-subheading-2 {
        display: block;
        margin-bottom: 0px;
    }
    .mat-subheading-2 {
        font-weight: 500;
    }
    .sum-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-top: 1px solid #aaa;
    }
    /* TODO adaptive layout */
    .sum-grid > * {
        flex-basis: 20%;
        padding: 5px;
    }
}
