@import '~@angular/material/theming';

@mixin sidebar-theme($theme) {
    $primary: map-get($theme,primary);
    $accent: map-get($theme,accent);
    $warn: map-get($theme,warn);
    @mixin sidebar-theme-hover() {
        &:hover {
            color: mat-color($primary,default);
            background-color: mat-color($primary,200);
        }
    }

    nav.menu.side {
        background-color: mat-color($primary,600);
        color: #fff;
        >a {
            background-color: mat-color($primary,darker);
        }
        a {
            color: #fff;
            @include sidebar-theme-hover();
            &.active::after {
                color: mat-color($accent);
            }
        }
        ul.l1 >li >.menu-section {
            background-color: mat-color($primary,lighter);
            @include sidebar-theme-hover();
        }
        ul.l2 >li >.menu-section {
            background-color: mat-color($primary,default);
            @include sidebar-theme-hover();
        }
    }
}
